.contenedor{
    padding: 5px;
    background-color: #7fd5f9;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-areas:    "header header"
                            "nav nav"
                            "contenido contenido"
                            "footer footer";
}
.header{
    background-color: #7ff9a3;
    grid-area: header;
    margin-left: 10px;
    margin-right: 10px;
}
.navi{
    background-color: #7ff9a3;
    grid-area: nav;
    margin-left: 10px;
    margin-right: 10px;
}
.contenido{
    background-color: #7ff9a3;
    grid-area: contenido;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 40% 40%;
    margin: 15px;
    padding-top: 20px;
    padding-left: 130px;
    padding-bottom: 35px;
}
.contenido .card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    background-color: #324d30;
    grid-area: footer;
    margin-left: 10px;
    margin-right: 10px;
}
@media screen and (max-width:768px){
    .contenido{
        padding-left: 50px;
        grid-template-columns: 80%;
    }
}