.contenedor{
    padding: 5px;
    background-color: #7fd5f9;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-areas:    "header header"
                            "nav nav"
                            "contenido contenido"
                            "footer footer";
}
.header{
    background-color: #7ff9a3;
    grid-area: header;
    margin-left: 10px;
    margin-right: 10px;
}
.navi{
    background-color: #7ff9a3;
    grid-area: nav;
    margin-left: 10px;
    margin-right: 10px;
}
.contenido{
    background-color: #7ff9a3;
    grid-area: contenido;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.footer{
    background-color: #324d30;
    grid-area: footer;
    margin-left: 10px;
    margin-right: 10px;
}